@import url('https://fonts.googleapis.com/css2?family=Anton&family=Space+Grotesk:wght@300..700&display=swap');
@import './base.scss';
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

:root {
    --content-color: #fff;
    --bg-color: #000;
    --cool-green: #21FFAF;
    --cool-gray: #836FF1;
}

body.light-theme{
    --content-color: #000;
    --bg-color: #fff;
    --cool-green: #21FFAF;
    --cool-gray: #836FF1;
}

@mixin anton-text-crop($line-height: 1.3, $top-adjustment: 0px, $bottom-adjustment: 0px) {
    $top-crop: 11;
    $bottom-crop: 15;
    $crop-font-size: 80;
    $crop-line-height: 1.2;

    $dynamic-top-crop: calc(max(($top-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size);
    $dynamic-bottom-crop: calc(max(($bottom-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size);

    line-height: $line-height;

    &::before,
    &::after {
        content: '';
        display: block;
        height: 0;
        width: 0;
    }

    &::before {
        margin-bottom: calc(-#{$dynamic-top-crop}em + #{$top-adjustment});
    }

    &::after {
        margin-top: calc(-#{$dynamic-bottom-crop}em + #{$bottom-adjustment});
    }
}

@mixin space-grotesk-text-crop($line-height: 1.3, $top-adjustment: 0px, $bottom-adjustment: 0px) {
    $top-crop: 19;
    $bottom-crop: 21;
    $crop-font-size: 80;
    $crop-line-height: 1.2;

    // Apply values to calculate em-based margins that work with any font size
    $dynamic-top-crop: max(($top-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size;
    $dynamic-bottom-crop: max(($bottom-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size;

    // Mixin output
    line-height: $line-height;

    &::before,
    &::after {
        content: '';
        display: block;
        height: 0;
        width: 0;
    }

    &::before {
        margin-bottom: calc(-#{$dynamic-top-crop}em + #{$top-adjustment});
    }

    &::after {
        margin-top: calc(-#{$dynamic-bottom-crop}em + #{$bottom-adjustment});
    }
}

$bounce-easing: cubic-bezier(0.34, 1.56, 0.64, 1);
$ease-out:cubic-bezier(0, 0.55, 0.45, 1);

@mixin help {
    border: red 1px solid;
}
@mixin help2 {
    border:green 1px solid;
}

::-webkit-scrollbar {
    display: none;
  }

* {
    font-family: 'Space Grotesk';
    color: var(--content-color);
}

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: var(--bg-color);
    justify-content: center;
}

p {
    color: var(var(--bg-color));
    font-family: 'Instrument Sans';
}

.menu {
    background-color: rgba(gray, 0.5);
    
    position: fixed;
    
    left: 50%;
    transform: translate(-50%, 0);

    display: flex;
    bottom: $space-md;
    padding: $space-xs;
    border-radius: $space-xs;
    gap: calc($space-sm / 2);
    backdrop-filter: blur(10px);
}

.material-symbols-outlined {
    color: var(var(--bg-color));
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(var(var(--bg-color)), 0.5);
    padding: $space-xs $space-default $space-xs $space-default;
    border-radius: $space-xxs;

    &.only-icon {
        padding: $space-xs;
    }
}

.info-container {
    padding-left: 0.35rem;
    padding-right: 0.8rem;
    opacity: 0.5;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}
#screen_size, #current_time {
    color: var(--content-color);
    letter-spacing: 0.05rem;
}
.material-icons {
    font-size: $text-xs;
    color: var(--content-color);
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 6rem;
}

.header-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.adjust-top {
    margin-top: 0.35rem
}
.title {
    text-transform: uppercase;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .primary{
        @include anton-text-crop();
        font-family: 'Anton';
        font-weight: 400;
        font-size: $text-xxxl * 4;
        letter-spacing: 0.1rem;
        color: var(--content-color);
        z-index: 1;
        transition: color 300ms $ease-out;
        transition: transform 500ms $ease-out;
        pointer-events: none;
        
    }
    .secondary{
        position: absolute;

        span {
            font-family: 'Permanent Marker';
            // font-family: 'Finger Paint'
            font-size: $text-xxxl * 3.2;
            color: var(--cool-gray);
            pointer-events: none;
        }
        pointer-events: none;
    }

    #title_letters {
        display: flex;
        transition: gap 100ms $ease-out;
        transition: transform 200ms $ease-out;
    }
}

.title-animation{
    .primary {
        color: rgba(red, 0.0);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--content-color);
        opacity: 0.5;
        z-index: 0;
        transform: scale(0.95, 0.95);
    }
    .secondary{
        transform: scale(1.1, 1.1);
        span {
            font-family: 'Permanent Marker';
            color: var(--cool-green);
        }
    }
}
.permanent_marker {
    font-family: 'Permanent Marker';
    font-size: $text-xxxl * 3.2;     
}

// .gradient {
//     display: block;
//     position: fixed;
//     width: 100vw;
//     height: 30%;
//     bottom: 0px;
//     background: radial-gradient(46.99% 84.03% at 50% 100%, #000 0%, rgba(0, 0, 0, 0.21) 77%, rgba(0, 0, 0, 0.00) 100%);
//     opacity: 0.8;
//     transition: opacity 1s $ease-out;
// }

.rock_salt {
    font-family: 'Rock Salt';
    font-size: $text-xxxl * 3.2;     
}


#projects {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 40vh;
    padding-bottom: 20vh;
    padding-left: 28vw;
    padding-right: 28vw;
    gap: $space-md;

    .card-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 1200px;
    }
    p {
        font-size: $text-md;
        line-height: 1.4;
        text-align: justify;
        opacity: 0.4;
    }

    img {
        border-radius: $space-xs;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: 200ms all $ease-out;
    }
    
    .card {
        transition: flex-grow 300ms cubic-bezier(0, 0.55, 0.45, 1);
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 4vh;
        border-radius: $space-xs;
        color: var(--content-color);
        outline: 1px rgba(var(--content-color), 0.4) solid;

        .absolute-content {
            opacity: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
        }
        
        .card-content {
            min-width: 100%;
            min-height: 100%;
            transform: translate(0, -100%);
            display: none;
        }

        h3{
            font-family: 'Space Grotesk';
            text-transform: uppercase;
            font-size: $text-lg * 2;
        }
    }

    .card:hover {
        flex-grow: 1.5;
        .card-content {
            display: block;
        }
        & img {
            opacity: 0.3;
        }
    }

    .project-info {
        border: var(--content-color) 2px solid;
        border-radius: $space-xs;
        display: grid;
    }
}